%table.stats
  %tr
    %th HP
    %td= character.hp
    %th MP
    %td= character.mp
  %tr
    %th Strength
    %td= character.strength
    %th Agility
    %td= character.agility
  %tr
    %th Defense
    %td= character.defense
    %th Luck
    %td= character.luck
  %tr
    %th Magic
    %td= character.magic
    %th Evasion
    %td= character.evasion
  %tr
    %th Magic Defense
    %td= character.magic_defense
    %th Accuracy
    %td= character.accuracy
