#sphere-grid.container
#info-panel
  #character-tabs
    %ul
      - @characters.each do |character|
        %li= link_to character.name, "#character-#{character.id}"
    - @characters.each do |character|
      %div.character-info{id: "character-#{character.id}"}
        .panel= render partial: 'character_stats', locals: { character: character }
        .panel= render partial: 'character_abilities', locals: { character: character }
